<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-GB" class="no-js not-ie8"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ pageTitle }} | Apply for Civil Service Fast Stream</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <!--[if gt IE 8]><!--> <link href="{{assets}}/css/main.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
  <!--[if lte IE 8]><link href="{{assets}}/css/main-ie8.css" media="all" rel="stylesheet" type="text/css"><![endif]-->

  <!--[if lte IE 8]>
    <link href="{{assets}}/css/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="{{assets}}/css/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
  <link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
  <link href="{{assets}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script>
    var html = document.documentElement;
    html.className += " js-enabled";

    if (!('open' in document.createElement('details'))) {
      document.documentElement.className += ' no-details';
    }
  </script>
  <script src="{{assets}}/js/vendor/modernizr-custom.js"></script>
</head>
<body>
  {{> ie-banner}}
  <div class="skiplink-container">
    <div>
      <a href="#main" class="skiplink">Skip to main content</a>
    </div>
  </div>
  <header role="banner" class="global-header">
    <div class="whitehall-header global-header__wrapper grid-wrapper">
      <div class="grid grid-1-3">
        <div class="inner-block-padr">
          <a href="http://gov.uk" title="Go to the GOV.UK homepage" class="govuk-logo">
            <img src="{{assets}}/img/gov.uk_logotype_crown.png" alt="Crown">GOV.UK
          </a>
          <div class="search-bar">
            <input type="text" class="header-search" placeholder="Search">
            <a href="" class="search-lens"><i class="fa fa-search" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="grid grid-2-3">
        <ul class="header-nav">
          <li><a href="" class="link-unimp header-link active">Departments</a></li>
          <li><a href="" class="link-unimp header-link">Worldwide</a></li>
          <li><a href="" class="link-unimp header-link">How government works</a></li>
          <li><a href="" class="link-unimp header-link">Get involved</a></li>
          <li><a href="" class="link-unimp header-link">Policies</a></li>
          <li><a href="" class="link-unimp header-link">Publications</a></li>
          <li><a href="" class="link-unimp header-link">Consultations</a></li>
          <li><a href="" class="link-unimp header-link">Statistics</a></li>
          <li><a href="" class="link-unimp header-link">Announcements</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="content-container">
    <section class="gov-border">
    </section>
    <section>
      {{> body }}
    </section>
  </div>
  <footer class="gov-border" role="contentinfo">
    <div class="footer__wrapper">
      <div class="footer__meta">
        <section class="grid-wrapper">
          <div class="grid grid-2-3">
            <div class="inner-block-padr">
              <h2 class="heading-medium">Services and information</h2>
              <hr>
              <ul class="list-text grid-1-2">
                <li><a href="/browse/benefits">Benefits</a></li>
                <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
                <li><a href="/browse/business">Business and self-employed</a></li>
                <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
                <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
                <li><a href="/browse/justice">Crime, justice and the law</a></li>
                <li><a href="/browse/disabilities">Disabled people</a></li>
                <li><a href="/browse/driving">Driving and transport</a></li>
              </ul>
              <ul class="list-text grid-1-2">
                <li><a href="/browse/education">Education and learning</a></li>
                <li><a href="/browse/employing-people">Employing people</a></li>
                <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
                <li><a href="/browse/housing-local-services">Housing and local services</a></li>
                <li><a href="/browse/tax">Money and tax</a></li>
                <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
                <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
                <li><a href="/browse/working">Working, jobs and pensions</a></li>
              </ul>
            </div>
          </div>
          <div class="grid grid-1-3">
            <h2 class="heading-medium">Departments and policy</h2>
            <hr>
            <ul class="l">
              <li><a href="/government/how-government-works">How government works</a></li>
              <li><a href="/government/organisations">Departments</a></li>
              <li><a href="/government/world">Worldwide</a></li>
              <li><a href="/government/policies">Policies</a></li>
              <li><a href="/government/publications">Publications</a></li>
              <li><a href="/government/announcements">Announcements</a></li>
            </ul>
          </div>
        </section>
        <hr>
        <ul class="footer__nav" role="navigation">
          <li class="footer__link"><a href="">Help</a></li>
          <li class="footer__link"><a href="">Cookies</a></li>
          <li class="footer__link"><a href="">Contact</a></li>
          <li class="footer__link"><a href="">Terms and conditions</a></li>
          <li class="footer__link">Built by the <a href="https://www.gov.uk/government/organisations/civil-service-resourcing" target="_blank">Government Digital Service</a></li>
          <li class="footer__ogl hide-print"><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Open Government Licence v3.0</a>, except where otherwise stated</li>
        </ul>
        <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
          <img src="{{assets}}/img/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
          <p>&copy; Crown copyright</p>
        </a>
      </div>
    </div>
  </footer>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
  <script src="{{assets}}/js/vendor/chosen.jquery.js"></script>
  <script src="{{assets}}/js/scripts.js"></script>
  <script src="{{assets}}/js/vendor/jstorage.js"></script>
  <!-- Prototype specific scripts -->
  <script src="{{assets}}/js/vendor/jquery.cookie.js"></script>
  <script src="{{assets}}/js/prototype.js"></script>
</body>
</html>




